.star {
  background-color: red;
  border-radius: 50%;
  margin: 10px auto;
}

.topMargin {
  margin-top: 200px;
}

.hidden {
  display: none;
}

body {
  background-color: black;
  color: white;
  background-image: url("../images/stars.jpg");
}

h1, h2 {
  text-align: center;
}

p.small {
  font-size: 0.8em;
}

.solarsystem .attrib {
  color: blue;
  text-decoration: none;
  float: right;
}

.solarsystem img {
  margin: auto;
  display: block;
}

.info {
  background-color: white;
  opacity: 0.65;
  margin: auto;
  width: 50%;
  color: black;
  font-weight: bolder;
  padding: 5px 20px 20px;
  text-align: center;
  font-size: 1.25;
}

.info .name {
  font-size: 2em;
  text-decoration: underline;
}