.star {
  background-color: red;
  background-image: url("../images/brown_dwarf.png");
  border-radius: 50%;
  margin: 10px auto;
}

.topMargin {
  margin-top: 200px;
}

.hidden {
  display: none;
}

body {
  background-color: black;
  color: white;
  background-image: url("../images/stars.jpg");
}

h1, h2 {
  text-align: center;
}

.header p, .guess, .planetWeight {
  width: 75%;
  text-align: center;
  margin: 30px auto;
  font-size: 1.25em;
}

.planetWeight {
  height: 1000px;
}

.guess input {
  margin: 10px;
}

.planetWeight img {
  height: 250px;
  margin-left: 50px;
}

.planet {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background-color: blue;
  margin: auto;
  position: relative;
  bottom: 85px;
  z-index: -1;
}

p.small {
  font-size: 0.8em;
}

a {
  color: white;
}

.solarsystem .attrib {
  color: blue;
  text-decoration: none;
  float: right;
}

.home {
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
}

.solarsystem img {
  margin: auto;
  display: block;
}

.info {
  background-color: white;
  opacity: 0.65;
  margin: auto;
  width: 50%;
  color: black;
  font-weight: bolder;
  padding: 5px 20px 20px;
  text-align: center;
  font-size: 1.25;
}

.info .name {
  font-size: 2em;
  text-decoration: underline;
}