@font-face {
    font-family: nasalization;
    src: url(nasalization.ttf);
}

.star {
  /*background-color: red;*/
  background-image: url("../images/brownDwarf.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
}

.brownDwarf {
  /*background-color: red;*/
  background-image: url("../images/brownDwarf.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
}


.lowMassStar {
  /*background-color: red;*/
  background-image: url("../images/lowMassStar.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
  width:200px;
}

.iMMassStar {
  /*background-color: red;*/
  background-image: url("../images/iMMassStar.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
  width:400px;
}

.highMassStar {
  /*background-color: red;*/
  background-image: url("../images/highMassStar.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
  width:600px;

}

.vHighMassStar {
  /*background-color: red;*/
  background-image: url("../images/vHighMassStar.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px auto;
  width:800px;
}



.topMargin {
  margin-top: 200px;
}

.hidden {
  display: none;
}

.homeImage:hover {
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
  background-image: url("../images/stars.jpg");
  height: auto;
  max-height: 1000px;
}

h1 {
  text-align: center;
  font-family: nasalization;
}


h2 {
  text-align: center;
  font-family: nasalization;
}

.header p, .guess, .planetWeight {
  width: 75%;
  text-align: center;
  margin: 30px auto;
  font-size: 1.25em;
}

.planetWeight {
  height: 1000px;
}

.guess input {
  margin: 10px;
  color: black;
}

img.spaceCat {
  height: 250px;
  margin-left: 50px;
}

.planet {
  border-radius: 50%;
  width: 110%;
  padding-bottom:  100%;
  background-color: blue;
  margin: auto;
  position: relative;
  bottom: 85px;
  right: 5%;
  z-index: -1;
}

.planet h3 {
  padding-top: 50px;
}

.scale {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: auto;
  border-radius: 5px;
  padding-top: 1px;
}

.scale img {
  width: 50px;
  height: auto;
  margin: 15px auto 0;
}

.spaceWeight {
  background-color: white;
  color: black;
  margin: 10px;
}

p.small {
  font-size: 0.8em;
}

a {
  color: white;
}

.solarsystem .attrib {
  color: blue;
  text-decoration: none;
  float: right;
}

.home {
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
}

.solarsystem img {
  margin: auto;
  display: block;
}

.info {
  background-color: white;
  opacity: 0.65;
  margin: auto;
  width: 50%;
  color: black;
  font-weight: bolder;
  padding: 5px 20px 20px;
  text-align: center;
  font-size: 1.25;
}

.info .name {
  font-size: 2em;
  text-decoration: underline;
}

.newPlanet {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50px;
  background-color: aqua;
  border-radius: 50%;
  text-align: center;
  padding: 50px;
  font-size: 1.4em;
  color: black;
}

.newPlanet:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spaceBounce {
  max-height: 800px;
  overflow: hidden;
}

.spaceBounce .description {
  background-color: yellow;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  right: 5px;
  top: 250px;
  z-index: -2;
}

.spaceBounce .description p {
  margin: 80px 20px;
}

#space-cat {
  position:absolute;
  width:300px;
  z-index:10;
}

@-webkit-keyframes bouncy-icons {
  0, 100% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
  }
}

.bounce {
  -webkit-animation: bouncy-icons 2s ease-in-out infinite ;
  /* Safari 4+ */
}
